<h1>Listing accessions</h1>

<table>
  <thead>
    <tr>
      <th>Accession number</th>
      <th>Collection date</th>
      <th>Date received</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @accessions.each do |accession| %>
      <tr>
        <td><%= accession.accession_number %></td>
        <td><%= accession.collection_date %></td>
        <td><%= accession.date_received %></td>
        <td><%= link_to 'Show', accession %></td>
        <td><%= link_to 'Edit', edit_accession_path(accession) %></td>
        <td><%= link_to 'Destroy', accession, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Accession', new_accession_path %>
